API_ID=22616841
API_HASH=9ee818c6b29ab50a4ff99f3c2d531a96
BOT_TOKEN=7229854636:AAHuONAmzkNPz3o34DVhsCYolFiQpda0rZo
LOGGER_ID=-1002142528647
MONGO_DB_URI=mongodb+srv://architect2002:architect2002@cluster0.ccinu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6573727420
STRING_SESSION=BQFv1FQAGZSBgxV8ClFDJhh-k7x82e5wHEp_PxPW4v135QkWy-ilHUiBD1symalNpB0bdsxdEJeds_oHHTinzZATk-3CPuEUXw_xEu7H51WQshZGa-DYW_FSpTZypusvqFCGIur0WfISZM6SDFVvF6lUq8tjnkMwYR4wFnyt-PfVF8ZQkovpz96nJTpfECw-nWPpCk8P6W0lwdAdimHWtHhYqFKJ-1KrdDvGBI0mcVrEYhArMHaykwOCIU6TvKqWVvbNOhHNGPtwnoNOegP2SUAXqZaytGKM9hNIbYntnMUoKA2ChFSJAoIPt-yy6wWS0VlSpn7pghjmQuhXenFX-HtRuPzAAAAAGzf77iAA
